* {
  box-sizing: border-box;
  font-family: "Montserrat";
  font-style: normal;
}

.container-main {
  background-color: white;
}

body {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 200px;
  margin-right: 200px;
  padding: 0px;
  background: E1C2AB;
}

/* .container-1 */
.container-1 {
  display: flex;
  background-color: #fff;
  padding: 30px;
  box-shadow: 0 10px 20px rgba(7, 1, 1, 0.1);
  border-radius: 12px;
  align-items: center;
  margin: 15px;
}

.photo {
  border-radius: 20px;
  width: 25%;
}

.container-1-1 {
  margin-left: 20px;
  width: 80%;
  margin-right: 20px;
  color: w;
}
.container-1-1-1 {
  display: flex;
  justify-content: space-between;
}
.name {
  font-weight: 600;
  font-size: 39px;
  color: #4f4f4f;
}
.designation {
  font-weight: 500;
  font-size: 18px;
  color: #828282;
}
.email,
.phone {
  font-weight: 500;
  font-size: 18px;
  color: #4f4f4f;
}
.container-1-1-details {
  font-weight: 500;
  font-size: 26px;
  color: #828282;
}
.stack {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stack-name {
  font-weight: 500;
  font-size: 17px;
  color: #4f4f4f;
  width: 20%;
}
.progress-bar {
  width: 80%;
  height: 10px;
  background: #c4c4c4;
  border-radius: 12px;
}
.progress {
  height: 100%;
  background: #2f80ed;
  width: 50%;
  border-radius: 12px;
}
.container-2 {
  display: flex;
}
.container-2-left {
  width: 40%;
  margin-top: 30px;
}
.frontend-container,
.hobbies-container,
.container-2-right-organize,
.container-2-right-experience,
.container-3 {
  background-color: #fff;
  padding: 30px;
  box-shadow: 0 10px 20px rgba(7, 1, 1, 0.1);
  border-radius: 12px;
  margin: 15px;
}

.adidas-container {
  /* border: red 2px solid; */
  display: flex;
  justify-content: space-around;
  position: relative;
  top: 3rem;
}

.h-m-container {
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-around;
  position: relative;
  top: 12rem;
}

.job-details {
  position: relative;
  left: 2rem;
}

.hobbies-title {
  font-weight: 700;
  font-size: 32px;
  color: #4f4f4f;
}

.frontend-title {
  font-weight: 700;
  font-size: 24px;
  color: #4f4f4f;
}

.hobbie-image {
  width: 100%;
  border-radius: 12px;
  object-fit: cover;
}

.hobbie-name {
  font-weight: 600;
  font-size: 24px;
  color: #333333;
  position: relative;
  top: -17px;
}

.hobbie-container-1-1-details {
  font-weight: 500;
  font-size: 16px;
  color: #828282;
  position: relative;
  bottom: 31px;
}
.container-2-right {
  width: 60%;
  margin-top: 30px;
}
.blog-desc {
  width: 30%;
}
.para-container-2-right-organize {
  display: flex;
  justify-content: space-between;
}
.organize-image {
  width: 70%;
  border-radius: 12px;
  object-fit: cover;
}
.blog {
  font-weight: 500;
  font-size: 16px;
  color: #e0e0e0;
}

.blog-title {
  font-weight: 500;
  font-size: 35px;
  color: #333333;
  font-weight: bold;
}

.blog-container-1-1-details {
  font-weight: 500;
  font-size: 29px;
  color: #828282;
  width: 90%;
  margin-top: 83px;
  position: relative;
  top: 2rem;
}

.experience-title {
  font-size: 32px;
}

blog-anchor {
  text-decoration: none;
  position: relative;
  top: 5rem;
}

.company-1,
.company-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 114px;
  margin-top: 51px;
  position: relative;
  left: 3rem;
  top: 1rem;
}

.experience-head {
  font-weight: 500;
  font-size: 24px;
  color: #4f4f4f;
}
.experience-image {
  width: 26%;
  height: 46%;
  object-fit: cover;
  margin: auto;
}
.date {
  font-weight: 500;
  font-size: 14px;
  color: #828282;
}

.experience-designation {
  font-weight: 600;
  font-size: 28px;
  color: #333333;
}

.container-2-right-experience-1-1-details {
  width: 70%;
  font-weight: 500;
  font-size: 15px;
  color: #828282;
}
.container-2-right-organize {
  height: 49%;
}

.container-2-right-experience {
  height: 47.8%;
}

.project-head {
  font-weight: 500;
  font-size: 18px;
  color: #4f4f4f;
}

.project-btn {
  width: 103px;
  height: 33px;
  border: 1px solid #4f4f4f;
  border-radius: 12px;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: #4f4f4f;
  margin-right: 20px;
}

.project-btn:hover {
  background: #2f80ed;
  color: white;
  border: none;
}
.container-4 {
  display: flex;
}
.my-projects {
  width: 33.33%;
  background-color: #fff;
  padding: 30px;
  box-shadow: 0 10px 20px rgba(7, 1, 1, 0.1);
  border-radius: 12px;
  margin: 15px;
}
.project-image {
  width: 100%;
  border-radius: 12px;
}
.image {
  margin-bottom: 20px;
}
.project-container-1-1-details {
  font-weight: 500;
  font-size: 16px;
  color: #828282;
}
.used-stacks {
  font-weight: 500;
  font-size: 16px;
  color: #4f4f4f;
}
.project-name {
  font-weight: 500;
  font-size: 24px;
  color: #333333;
}

.project-show-btn {
  width: 152px;
  height: 46px;
  border: 1px solid #2f80ed;
  border-radius: 12px;
}

.button-demo-code {
  width: 95%;
  display: flex;
  justify-content: space-evenly;
  margin: auto;
}

.hobbies {
  margin: 0;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .photo {
    width: 30%;
  }
  .container-1-1 {
    width: 71%;
    background: w;
  }
  .stack {
    flex-direction: column;
    align-self: flex-start;
  }
  .progress-bar {
    width: 100%;
  }
  .project-show-btn {
    width: 81px;
    height: 40px;
  }
  .frontend-container {
    height: 30%;
  }
  .hobbies-container {
    height: 67.8%;
  }
}

@media screen and (max-width: 768px) {
  body {
    margin: 0px;
    padding: 0px;
  }

  .container-1 {
    flex-direction: column;
  }
  .photo {
    width: 50%;
  }
  .container-1-1 {
    width: 100%;
  }
  .container-2 {
    flex-direction: column;
  }
  .container-2-left,
  .container-2-right {
    width: 100%;
  }
  .container-4 {
    flex-direction: column;
  }
  .my-projects {
    width: 100%;
  }
}
@media screen and (max-width: 486px) {
  body {
    margin: 0px;
    padding: 0px;
  }

  .container-1-1-1 {
    flex-direction: column;
  }
  .photo {
    width: 100%;
  }
  .container-1-1 {
    width: 100%;
  }
  .stack {
    flex-direction: column;
    align-self: flex-start;
  }
  .progress-bar {
    width: 100%;
  }

  .para-container-2-right-organize {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .project-show-btn,
  .project-btn {
    margin-bottom: 10px;
  }

  .organize-image {
    width: 95%;
    border-radius: 12px;
    object-fit: cover;
  }

  .email-phone-container {
    margin-top: 10%;
  }

  .blog-title {
    font-weight: 500;
    font-size: 35px;
    color: #333333;
    font-weight: bold;
  }

  .blog-desc {
    width: 91%;
    margin: auto;
  }

  .head-container {
    border: red 2px solid;
  }
}
